<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL4pmO6NBgxv9561XQa1WI_0oo-6c-GO4</string>
	<key>GCM_SENDER_ID</key>
	<string>103450706778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hindusrus.app.dev</string>
	<key>PROJECT_ID</key>
	<string>hindus-r-us-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hindus-r-us-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103450706778:ios:c3254faced9c974a84e963</string>
</dict>
</plist>